<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Successfull login</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="panel panel-default">
  <div class="panel-heading" align="center">
  <img src="assets/images/profile.jpg" align="left" class="img-circle" alt="Cinque Terre" width="70" height="70"></img><font color="white">
  	Activation Pending</font></div>
  <div class="panel-body"><br><br>Oops! I guess, you have not activated your account yet. No worries, please check your email for the activation link. You may want to check your spam or Junk mail folder. If you have not received the activation link, <a href="">click here</a> to get the activation link.<br><div class="centered"><button type="" class="btn btn-primary text-center">Close This window</button></div></div>
</div>



<style>
.panel-heading{
	background-color: #008080 !important;
	font-size: 150%;
}
.centered{
	text-align: center;
}
</style>






<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>