<
	<title>Successfull login</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <div class="panel panel-default">
  <div class="panel-heading" align="center">
  <img src="assets/images/profile.jpg" align="left" class="img-circle" alt="Cinque Terre" width="70" height="70"></img><font color="white">
  	Activation Successfull</font></div>
  <div class="panel-body"><br><br>Excellent job! You have got your account activated now.  Just one more step to go. Please check your email for the username and password. You may want to check your junk or spam folder.<br><br><div class="centered"><button ng-click="regclose()" class="btn btn-primary text-center">Take me to the login Page</button></div></div>
</div>



<style>
.panel-heading{
	background-color: #008080 !important;
	font-size: 150%;
}
.centered{
	text-align: center;
}
</style>






<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
