

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	


	<!-- Core JS files -->
	
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/forms/wizards/steps.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jasny_bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/extensions/cookie.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/wizard_steps.js"></script>


	<!-- tags -->
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tagsinput.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tokenfield.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/prism.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>

	<!--<script type="text/javascript" src="assets/js/core/app.js"></script>-->
	<script type="text/javascript" src="assets/js/pages/form_tags_input.js"></script>



	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">Frugal Lms</a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-git-compare"></i>
						<span class="visible-xs-inline-block position-right">Git updates</span>
						<span class="badge bg-warning-400">9</span>
					</a>
					
					<div class="dropdown-menu dropdown-content">
						<div class="dropdown-content-heading">
							Git updates
							<ul class="icons-list">
								<li><a href="#"><i class="icon-sync"></i></a></li>
							</ul>
						</div>

						<ul class="media-list dropdown-content-body width-350">
							<li class="media">
								<div class="media-left">
									<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
								</div>

								<div class="media-body">
									Drop the IE <a href="#">specific hacks</a> for temporal inputs
									<div class="media-annotation">4 minutes ago</div>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
								</div>
								
								<div class="media-body">
									Add full font overrides for popovers and tooltips
									<div class="media-annotation">36 minutes ago</div>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
								</div>
								
								<div class="media-body">
									<a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
									<div class="media-annotation">2 hours ago</div>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
								</div>
								
								<div class="media-body">
									<a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
									<div class="media-annotation">Dec 18, 18:36</div>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
								</div>
								
								<div class="media-body">
									Have Carousel ignore keyboard events
									<div class="media-annotation">Dec 12, 05:46</div>
								</div>
							</li>
						</ul>

						<div class="dropdown-content-footer">
							<a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
						</div>
					</div>
				</li>
			</ul>

			<p class="navbar-text"><span class="label bg-success-400">Online</span></p>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="assets/images/flags/gb.png" class="position-left" alt="">
						English
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a class="deutsch"><img src="assets/images/flags/de.png" alt=""> Deutsch</a></li>
						<li><a class="ukrainian"><img src="assets/images/flags/ua.png" alt=""> Українська</a></li>
						<li><a class="english"><img src="assets/images/flags/gb.png" alt=""> English</a></li>
						<li><a class="espana"><img src="assets/images/flags/es.png" alt=""> España</a></li>
						<li><a class="russian"><img src="assets/images/flags/ru.png" alt=""> Русский</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-bubbles4"></i>
						<span class="visible-xs-inline-block position-right">Messages</span>
						<span class="badge bg-warning-400">2</span>
					</a>
					
					<div class="dropdown-menu dropdown-content width-350">
						<div class="dropdown-content-heading">
							Messages
							<ul class="icons-list">
								<li><a href="#"><i class="icon-compose"></i></a></li>
							</ul>
						</div>

						<ul class="media-list dropdown-content-body">
							<li class="media">
								<div class="media-left">
									<img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
									<span class="badge bg-danger-400 media-badge">5</span>
								</div>

								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">James Alexander</span>
										<span class="media-annotation pull-right">04:58</span>
									</a>

									<span class="text-muted">who knows, maybe that would be the best thing for me...</span>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
									<span class="badge bg-danger-400 media-badge">4</span>
								</div>

								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Margo Baker</span>
										<span class="media-annotation pull-right">12:16</span>
									</a>

									<span class="text-muted">That was something he was unable to do because...</span>
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Jeremy Victorino</span>
										<span class="media-annotation pull-right">22:48</span>
									</a>

									<span class="text-muted">But that would be extremely strained and suspicious...</span>
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Beatrix Diaz</span>
										<span class="media-annotation pull-right">Tue</span>
									</a>

									<span class="text-muted">What a strenuous career it is that I've chosen...</span>
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Richard Vango</span>
										<span class="media-annotation pull-right">Mon</span>
									</a>
									
									<span class="text-muted">Other travelling salesmen live a life of luxury...</span>
								</div>
							</li>
						</ul>

						<div class="dropdown-content-footer">
							<a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
						</div>
					</div>
				</li>

				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="assets/images/placeholder.jpg" alt="">
						<span>Victoria</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
						<li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
						<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
	
		</div>
	
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container"  >

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-fixed">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">Victoria Baker</span>
									<div class="text-size-mini text-muted">
										<i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
									</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
<!--wanna to edit-->
								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								<li><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
								<!-- Custom Coding for side bar menus -->
								<!-- start of menus -->
                                  <li>
									<a href="#"><i class="icon-stack2"></i> <span>Course Management</span></a>
									<ul>
									<!-- sub menu -->
									<li><a href="#">ILT Course Management</a>
									<ul>
									  <a href="#">Add Single ILT course</a>
                                      <a href="#">ILT Course Bulk Upload</a>
                                      <a href="#">Add Single ILT Session</a>
                                      <a href="#">ILT Session Bulk Upload</a>
                                      <a href="#">View / Modify Single ILT Course</a>
                                      <a href="#">ILT Course Bulk Update</a>
                                      <a href="#">ILT Session Bulk Update</a>
									</ul>
									</li>
                                     <!-- end of submenu -->
                                            <!--Menu-->
                                            <li><a href="#">V-ILT Course Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single V-ILT course</a>
                                            <a href="#">V-ILT Course Bulk Upload</a>
                                            <a href="#">Add Single V-ILT Session</a>
                                            <a href="#">V-ILT Session Bulk Upload</a>
                                            <a href="#">View / Modify Single V-ILT Course</a>
                                            <a href="#">V-ILT Course Bulk Update</a>
                                            <a href="#">V-ILT Session Bulk Update</a>

                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->

                                    <!--Menu-->
                                            <li><a href="#">E-Learning Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single E-Learn</a>
                                            <a href="#">E-Learn Bulk Upload</a>
                                            <a href="#">View / Modify Single E-Learn</a>
                                            <a href="#">E-Learn Bulk Update</a>                                           
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->

                                        <!--Menu-->
                                            <li><a href="#">M-Learn Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single M-Learn</a>
                                            <a href="#">M-Learn Bulk Upload</a>
                                            <a href="#">View/ Modify Single M-Learn</a>
                                            <a href="#">M-Learn Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                        <!--Menu-->
                                            <li><a href="#">Quiz Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Question Bank Bulk Upload</a>
                                            <a href="#">Add Single Quiz</a>
                                            <a href="#">Quiz Bulk Upload</a>
                                            <a href="#">View / Modify Single Question</a>
                                            <a href="#">Questions Bulk Update</a>
                                            <a href="#">View / Modify Single Quiz</a>
                                            <a href="#">Quiz Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Test Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Question to Question Bank</a>
                                            <a href="#">Question Bank Bulk Upload</a>
                                            <a href="#">Add Single Test </a>
                                            <a href="#">Test Bulk Upload</a>
                                            <a href="#">View / Modify Single Question</a>
                                            <a href="#">Questions Bulk Update</a>
                                            <a href="#">View / Modify Single Test</a>
                                            <a href="#">Test Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->

                                           <!--Menu-->
                                            <li><a href="#">Certification</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Internal Certification</a>
                                            <a href="#">Internal Certification Bulk Upload</a>
                                            <a href="#">Add Single External Certification</a>
                                            <a href="#">External Certification Bulk Upload</a>
                                            <a href="#">View / Modify Internal Certification</a>
                                            <a href="#">Internal Certification Bulk Update</a>
                                            <a href="#">View / Modify External Certification</a>
                                            <a href="#">External Certification Bulk Upload</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Curriculum</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Curriculum</a>
                                            <a href="#">Curriculum Bulk Upload</a>
                                            <a href="#">View/ Modify Single Curriculum</a>
                                            <a href="#">Curriculum Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                             <!--Menu-->
                                            <li><a href="#">Cohart</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Cohart</a>
                                            <a href="#">View/Modify Cohart</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Video</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Video</a>
                                            <a href="#">Video Bulk Upload</a>
                                            <a href="#">View/ Modify Single Video</a>
                                            <a href="#">Video Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Knowledge Base Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Audio / Podcast</a>
                                            <a href="#">Add Single Podcast</a>
                                            <a href="#">Podcast Bulk Upload</a>
                                            <a href="#">View/ Modify Single Podcast</a>
                                            <a href="#">Podcast Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Documents</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Document</a>
                                            <a href="#">Document Bulk Upload</a>
                                            <a href="#">View/ Modify Single Documents</a>
                                            <a href="#">Documents Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                           <!--Menu-->
                                            <li><a href="#">ILT Course Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">URL /Hyperlinks</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Link</a>
                                            <a href="#">Links Bulk Upload</a>
                                            <a href="#">View/ Modify Single Link</a>
                                            <a href="#">Links Bulk Update</a>
                                         
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">E-Book</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single E-Book</a>
                                            <a href="#">E-Books Bulk Upload</a>
                                            <a href="#">View/ Modify Single E-Book</a>
                                            <a href="#">E-Books Bulk Update</a>
                                           </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">Images</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Add Single Image</a>
                                            <a href="#">Image Bulk Upload</a>
                                            <a href="#">View/ Modify Single Image</a>
                                            <a href="#">Image Bulk Update</a>
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->

										<!-- end of menus -->
									</ul>
								</li>
                              <!-- End of Couse Manage ment -->
                              <!-- start  of Vendor Management -->
                              <li>
									<a href="#"><i class="icon-stack2"></i> <span>Vendor Management</span></a>
									<ul>
                                    <!--Menu-->
                                            <li><a href="#">Create Single Vendor</a>
                                           
                                            </li>
                                            <li><a href="#">Vendor Bulk Upload</a>
                                           
                                            </li>
                                            <li><a href="#">View / Modify Single Vendor</a>
                                           
                                            </li>
                                            <li><a href="#">Vendor Bulk Update</a>
                                           
                                            </li>
                                            <!--end of menu-->




									<!-- end of Vendormenus -->
									</ul>
									</li>
                                <!-- End  of Vendor Management -->

                                 <!-- start  of Trainer Management -->
                                    <li>
									<a href="#"><i class="icon-stack2"></i> <span>Trainer Management</span></a>
									<ul>
                                    <!--Menu-->
                                            <li><a href="#">Create Single Trainer</a>
                                           
                                            </li>
                                            <li><a href="#">Trainer Bulk Upload</a>
                                           
                                            </li>
                                            <li><a href="#">View / Modify Single Vendor</a>
                                           
                                            </li>
                                            <li><a href="#">Trainer Bulk Update</a>
                                           
                                            </li>
                                            <!--end of menu-->




									<!-- end of Vendor menus -->
									</ul>
									</li>
                                <!-- End  of Trainer Management -->
                                <!-- start  of Venue Management -->
                                    <li>

									<a href="#"><i class="icon-stack2"></i> <span>Venue Management</span></a>
									<ul>
                                    <!--Menu-->
                                            <!--Menu-->
                                            <li><a href="#">Internal Venue Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Create Single Venue</a>
                                            <a href="#">View / Modify Single Venue</a>
                                            <a href="#">Venue Bulk Upload</a>
                                            <a href="#">Venue Bulk Update</a>
                                          
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->
                                            <!--Menu-->
                                            <li><a href="#">External Venue Management</a>
                                            <!--sub menu-->
                                            <ul>
                                            <a href="#">Create Single Venue</a>
                                            <a href="#">View / Modify Single Venue</a>
                                            <a href="#">Venue Bulk Upload</a>
                                            <a href="#">Venue Bulk Update</a>
                                            
                                            </ul>
                                            <!--end of sub menu-->
                                            </li>
                                            <!--end of menu-->

                                            <!--end of menu-->




									<!-- end of Vendor menus -->
									</ul>
                                        <li>
                                        <a ng-click="logout()">logout</a>
                                </li>
									</li>
                                <!-- End  of Venue  Management -->


							</ul> 
					
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->










<!--end wanna to edit-->
			<!-- Main content -->
			<div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard</h4>
                        </div>

                        <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ul>

                        <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /page header -->

  


<!-- Bhuvanesh -->
<div class="row" >
		<div class="col-md-6">
			<div class="form-group">
							<select name="Topic" data-placeholder="Topic" class="select"  ng-model="sdsad" ng-options="value.courselanguage for value in arr" >
		                 <option></option> 
		                                        
		                                        
		                 </select>


	                </div>
	                                   
		</div>
</div>

                <!-- Content area -->
         <div class="content" >

		            <!-- Starting step -->
		            <div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">Add ILT Course</h6>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
<!-- error in  wizard class class="steps-starting-step" class="steps-basic" class="stepy-basic"  -->
	                	<form  class="steps-basic"  ng-init="dropdown()">
							<h6>Basic Info</h6>
							<fieldset>
								

			<div class="row" >
						<div class="col-md-6">
							<div class="form-group">
							<select data-placeholder="Bhuvanesh" class="select"  ng-model="sdsad" ng-options="value.courselanguage for value in arr" >
		                 <option></option> 
		                                        
		                                        
		                 </select>


	             </div>
	                                   
					</div>
	 		</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											
											<input type="text" name="cousrse_id" class="form-control" placeholder="Course ID">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											
											<input type="text" name="cousrse_Title" class="form-control" placeholder="Course Title">
										</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
		                                    <textarea name="experience-description" rows="2" cols="4" placeholder="Tasks and responsibilities" class="form-control"></textarea>
		                                </div>
		                            </div>
		                            <div class="col-md-6">
										<div class="form-group">
											
											<input type="text" name="Course_objectives" class="form-control" placeholder="Course Objectives">
										</div>
		                         	</div> 
		                         </div>

		                         <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											
											<input type="text" name="cousrse_Keywords" class="form-control" placeholder="Course Keywords">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											
											<input type="text" name="cousrse_Duration" class="form-control" placeholder="Course Duration">
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-md-6">
									<div class="form-group">
			                                    <input name="recommendations" type="file" class="file-styled">
			                                    <span class="help-block">Accepted formats: jpeg,gif,png Max file size 2Mb</span>
			                         </div></div>
								<div class="col-md-6">
							<div class="form-group">
								<!-- <select name="Select_course" data-placeholder="Select Course Language" class="select required" ng-model="selectedName" ng-options="item for item in courses"> -->
								<select ng-model="selectedItem" class="select required">
        <option ng-repeat="item in items" value="{{item}}">{{item}}</option>
      </select>
									
<!-- arun -->
									
								</select>
								
							</div>
									</div>
								</div>

							<div class="row">
								<div class="col-md-6">
								
								<div class="form-group">
											<select name="Select_course" data-placeholder="Program Coordinator" class="select">
												<option></option>
												<optgroup label="Coordinator Name">
													<option value="1">John</option>
													<option value="2">Smith</option>
												</optgroup>

											</select>
										</div>
								</div>
							</div>			

							<div class="row">
								<div class="col-md-6">
								<div class="col-md-4">	
								<div class="checkbox">
									<label>
										<input type="checkbox" class="control-primary" checked="checked">
										Pre-Requisties
										</label>
										</div>
									</div>
										<p><button type="button" class="btn btn-info btn-sm">Add</button></p>
								</div>
									
									<div class="col-md-6">
										<div class="col-md-3">	
											<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" checked="checked">
														Pre-Requisties</label>
											</div>
											</div>
										<div class="col-md-6">
										<div class="form-group">
											<select name="Select_course" data-placeholder="Select Assignment type" class="select">
												<option></option>
												<optgroup label="Coordinator Name">
													<option value="1">Assignment 1</option>
													<option value="2">Assignment 2</option>
												</optgroup>

											</select>
											
										</div>
									</div>  <p><button type="button" class="btn btn-info btn-sm">Add</button></p>		

								</div>
						</div>
						</fieldset>
<!-- step2 -->
							<h6>Target Audience</h6>
							<fieldset>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Group" data-placeholder="Group" class="select">
		                                        <option></option> 
		                                        <option value="1">Group 1</option> 
		                                        <option value="2">Group 2</option> 
		                                        <option value="3">Group 3</option> 
		                                        <option value="4">Group 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Team" data-placeholder="Team" class="select">
		                                        <option></option> 
		                                        <option value="1">Team 1</option> 
		                                        <option value="2">Team 2</option> 
		                                        <option value="3">Team 3</option> 
		                                        <option value="4">Team 4</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Entity" data-placeholder="Entity" class="select">
		                                        <option></option> 
		                                        <option value="1">Entity 1</option> 
		                                        <option value="2">Entity 2</option> 
		                                        <option value="3">Entity 3</option> 
		                                        <option value="4">Entity 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Job Family" data-placeholder="Job Family" class="select">
		                                        <option></option> 
		                                        <option value="1">Job Family 1</option> 
		                                        <option value="2">Job Family 2</option> 
		                                        <option value="3">Job Family 3</option> 
		                                        <option value="4">Job Family 4</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Function" data-placeholder="Function" class="select">
		                                        <option></option> 
		                                        <option value="1">Function 1</option> 
		                                        <option value="2">Function 2</option> 
		                                        <option value="3">Function 3</option> 
		                                        <option value="4">Function 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Job Role" data-placeholder="Job Role" class="select">
		                                        <option></option> 
		                                        <option value="1">Job Role 1</option> 
		                                        <option value="2">Job Role 2</option> 
		                                        <option value="3">Job Role 3</option> 
		                                        <option value="4">Job Role 4</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Department" data-placeholder="Department" class="select ">
		                                        <option></option> 
		                                        <option value="1">Department 1</option> 
		                                        <option value="2">Department 2</option> 
		                                        <option value="3">Department 3</option> 
		                                        <option value="4">Department 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Job Role Skill Set" data-placeholder="Job Role Skill Set" class="select">
		                                        <option></option> 
		                                        <option value="1">Job Role Skill Set 1</option> 
		                                        <option value="2">Job Role Skill Set 2</option> 
		                                        <option value="3">Job Role Skill Set 3</option> 
		                                        <option value="4">Job Role Skill Set 4</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>
							</fieldset>

							<h6>Competency & Skills</h6>
							<fieldset>
							
								<div class="row" >
									<div class="col-md-6">
										<div class="form-group">
											<select name="Topic" data-placeholder="Topic" class="select">
		                                        <option></option> 
		                                     
		                                        <option value="2">Topic 2</option> 
		                                        <option value="3">Topic 3</option> 
		                                        <option value="4">Topic 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Skillset" data-placeholder="Skillset" class="select">
		                                        <option></option> 
		                                        <option value="1">Skillset 1</option> 
		                                        <option value="2">Skillset 2</option> 
		                                        <option value="3">Skillset 3</option> 
		                                        <option value="4">Skillset 4</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Sub Topic" data-placeholder="Sub Topic" class="select">
		                                        <option></option> 
		                                        <option value="1">Sub Topic 1</option> 
		                                        <option value="2">Sub Topic 2</option> 
		                                        <option value="3">Sub Topic 3</option> 
		                                        <option value="4">Sub Topic 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Skills 1" data-placeholder="Skills 1" class="select">
		                                        <option></option> 
		                                        <option value="1">Skills 11</option> 
		                                        <option value="2">Skills 12</option> 
		                                        <option value="3">Skills 13</option> 
		                                        <option value="4">Skills 14</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>
           
      
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Competency" data-placeholder="Competency" class="select">
		                                        <option></option> 
		                                        <option value="1">Competency 1</option> 
		                                        <option value="2">Competency 2</option> 
		                                        <option value="3">Competency 3</option> 
		                                        <option value="4">Competency 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
											<select name="Skill 2" data-placeholder="Skill 2" class="select">
		                                        <option></option> 
		                                        <option value="1">Skill 21</option> 
		                                        <option value="2">Skill 22</option> 
		                                        <option value="3">Skill 23</option> 
		                                        <option value="4">Skill 24</option> 
		                                    </select>
	                                    </div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="Sub Competency" data-placeholder="Sub Competency" class="select">
		                                        <option></option> 
		                                        <option value="1">Sub Competency 1</option> 
		                                        <option value="2">Sub Competency 2</option> 
		                                        <option value="3">Sub Competency 3</option> 
		                                        <option value="4">Sub Competency 4</option> 
		                                    </select>
	                                    </div>
	                                    </div>
	                                    <div class="col-md-6">
										<div class="form-group">
										
										<input type="text" class="form-control tokenfield" value="Try,pressing,backspace">
									</div>
								</div>
								<div class="row" >
								<div class="col-md-6">
								<div class="form-group">
							<p><button type="button" class="btn btn-info btn-sm" >Add</button></p>
							</div></div>
							</div>
							
							</fieldset>
<!-- step 4						 -->
						<h6>Approval</h6>
							<fieldset>
							<div class="row">
											<div class="col-md-6">
											<div style="float:right">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" checked="checked">
														Registration Approval Required
													</label></div>
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" >
														Cancellation Approval Required
													</label></div>
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" >
														Completion Approval Required
													</label></div>
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" >
														Excemption Approval Required
													</label></div>
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary">
														Cost Approval 
													</label></div>			
												</div>
												</div>
												<div class="col-md-6">
												</div>
												</div>

						
								
							</fieldset>
<!-- step 5							 -->
						<h6>Related Courses</h6>
							<fieldset>
							<div class="row">
								<div class="col-md-8">
								</div>

							</div>
							</fieldset>
<!-- step 5							 -->
						<h6>Vendor</h6>
							<fieldset>
							<div class="row">
							</div>
							</fieldset>						

						</form>
		            </div>
		            <!-- /starting step -->

                    </div>
					<div class="footer text-muted">
						&copy; 2016. <a href="#">Frugal Talent Solutions</a> by <a href="#" target="_blank"></a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

